{% extends 'base.html' %}
{% load static %}

{% block title %}View tasks{% endblock %}

{% block contant %}
    {% csrf_token %}

    <h1 class="pt-4"><b>Guest Booke:</b></h1>
    <hr>
    {% for guest in goests_list %}
        <div class="row ">
            <div class="col col-lg-12 border-dark border mb-3 rounded">
                <div class="row ">
                    <div class="col col-lg-8">
                        <h4>{{ guest.name }} ({{ guest.email }}) </h4>
                    </div>
                    <div class="col col-lg-2">
                        <i class="bg-images fa-edit mb-3"></i>
                        <a href="#" class="bg-images" ></a>
                    </div>
                    <div class="col col-lg-2">
                      <a href="#" ></a>
                    </div>
                </div>
                <p> {{ guest.text | linebreaksbr}} </p>
                <p> Time to change: {{ guest.updated_time }}<br/> </p>
            </div>
            <div class="coL col-lg-1 mt-5">
                <a href="{% url 'note_update' guest.pk %}" ><button type="submit"  class="btn btn-primary">Update</button></a>
            </div>
{#            <div class="coL col-lg-1 mt-5">#}
{#                <a href="{% url 'task_delete_view' task.pk %}" ><button type="submit"  class="btn btn-primary">Delete</button></a>#}
{#            </div>#}
        </div>
    {% endfor %}
    <hr>
    </form>
{% endblock %}
