{% extends "base.html" %}

{% block title %}Delete recording{% endblock %}


{% block contant %}
    <div class="coL col-lg-12 mt-5">
        <h1 class="pt-4">Вы действительно хотите удалить запись: # <b class="text-primary">{{ note.pk }}</b> ?</h1>
        <p><h3>Автор:</h3> {{ note.name }}. </p>
        <p><h3>Запись:</h3> {{ note.text }}.</p>
    </div>
    <div class="row">
        <form method="POST" action="{% url "note_delete" note.pk %}" class="text-center">
            {% csrf_token %}
        <div class="coL col-lg-3 ml-5 mt-1">
            <a href="{% url 'note_delete' note.pk %}" >
                <button type="submit"  class="btn btn-danger">Delete</button>
            </a>
        </div>
        </form>
        <div class="coL col-lg-3  mt-1">
            <a href="{% url 'index'  %}" >
                <button type="submit"  class="btn btn-success">Отмена</button>
            </a>
        </div>
    </div>

{% endblock %}